<form class="form" [formGroup]="editUserForm">
  <div class="input__wrapper">
    <label for="name">Name</label>
    <input class="input" type="text" id="name" formControlName="name" />
  </div>
  <div class="input__wrapper">
    <label for="surname">Surname</label>
    <input class="input" type="text" id="surname" formControlName="surname" />
  </div>

  <div class="input__wrapper">
    <label for="Country">Country</label>
    <select class="input" id="country" formControlName="country">
      <option [value]="country.code" *ngFor="let country of countries">
        {{ country.title }}
      </option>
    </select>
  </div>

  <button
    [disabled]="editUserForm.invalid"
    type="button"
    (click)="editUser()"
    [routerLink]="['/users']"
  >
   Save
  </button>
</form>
