.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 1px 10px #000000;
  border-radius: 8px;
  padding: 35px 30px;
  .input {
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #dddddd;
    outline: none;
    transition: all ease 0.3s;
    &:focus{
        border: 1px solid transparent;
        box-shadow: 0 0 0 0.12rem #8eb1df;
    }
  }

 
  button {
    display: flex;
    margin: 0 auto;
    border-radius: 5px;
    padding: 10px;
    width: 120px;    
    justify-content: center;
    align-items: center;   
    background-color: #52bd72;
    border: none;
    cursor: pointer;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    transition: all ease 0.5s;
    &:hover,
    &:focus {
      box-shadow: 0 0 0 0.25rem #96d6a9;
    }
  }
}
.input__wrapper {
  display: grid;
  gap: 10px;
  width: 300px;
}

.checkbox__wrapper {
  margin-bottom: 20px;
  width: 300px;
}
